root = true

[*] # Defaults
charset = utf-8
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 120
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,jsx,ts,tsx,cjs,mjs}] # JavaScript and TypeScript
indent_size = 2

[*.{css,scss,sass,less}] # CSS, SCSS, Sass, and Less
indent_size = 2

[*.{html,xml,mdx}] # HTML and XML
indent_size = 2

[*.{yaml,yml}] # YAML
indent_style = space

[*.sln] # Solution files
indent_style = tab

[*.{csproj,config,json,md,nuspec,props,runsettings,svg,xml,yaml,yml}]
indent_size = 2
tab_width = 2

[*.{bash,fish,sh}]
end_of_line = lf
